NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:5173

SUPABASE_URL=https://sbueabxyhqzabigygfzk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNidWVhYnh5aHF6YWJpZ3lnZnprIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3MTk2MDUsImV4cCI6MjA5NDI5NTYwNX0.Y8EclWtAugcTM8yLY8RDi2Axb3yirtu7jhoyQ_zHHe4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNidWVhYnh5aHF6YWJpZ3lnZnprIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODcxOTYwNSwiZXhwIjoyMDk0Mjk1NjA1fQ.ZICO2_HZGHD58q8b9ukh60FQqqIpVIFFTnTd9TguUTI
SUPABASE_JWT_SECRET=doJS3NAGdoqxWJCJj5Sb499eNT4UiawmWifqFVlEtvdThQwvXcfg7aPflX3pAR7kegJ+ZWuyP5TT/7Vqxo34Vg==
